:root {
    --couleur1: #D89584;
    --couleur2: #F4F4F4;
}

body {
    margin : 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    background : url(cover_overlay.png) no-repeat center/100% 100%,
                 url(header.jpg) no-repeat center/100% 100%;
    background-size : cover;
    height : 500px;
}

div.bandeau {
    overflow: hidden;
    text-align: center;
    margin-right: 0;
    margin-left: auto;
    width: 400px;
    background-color: BLACK;
    border : 5px solid white;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translate(80px,-40px);
    box-shadow: 0 10px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div.bandeau:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: 1.1em;
}


nav ul { 
    /* margin-left : 80%; margin-right : 10px; margin-top: 0; */
    display: inline-block;}

nav li { list-style-type: none; font-size: 1.5em; text-align: center;
            font-family: 'Cabin Sketch', cursive;
          }

nav a {text-decoration: none; color : white;}

i.fa-arrow-alt-circle-right {display: none;}

header h1, header h2 {
    text-align: center;
    text-shadow: 0 0 5px black;
}

header h1 {
    color : white;
    font-size : 40px; 
    margin-top :0;
    padding-top: 100px;
}

header div.separateur {
    height:1px;
    background-color: white;
    width : 85%;
    margin : 0 auto;
}

header h2 {
    color : rgb(92, 132, 219);
    font-size: 35px;
    font-style: italic;
}

section.grise {
    background: url(triangle2white.svg) no-repeat center  bottom/100%;
    background-color: var(--couleur2);
    height : 410px;
}

section.grise div.separateur {
    height:1px;
    background-color: #979797;
    width : 150px;
    margin : 20px auto;
}

section.grise .intro {
    padding-top : 30px;
    width : 65%;
    margin : 0 auto;
    text-align: center;
    padding-top : 20px;
}

section.grise .intro p {
    font-size : 22px;
    text-align: justify;
    margin-left : auto;
    margin-right: auto;
    line-height: 1.8;
}

/* SECTION VIDÉOS */

/* PROJETS (flex items) */
#parent {
	display : flex;
	flex-wrap : wrap;
	justify-content : center;
    z-index :0;
}

.enfant {
    position: relative;
	width : 400px;
	margin : 30px;
	display : inline-block;
	background : white;
    padding-bottom : 15px;
    padding-right :20px;
    border: 0 black solid;
	border-radius : 10px;
    box-sizing: content-box;
    box-shadow:  3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


div.enfant .separateur {
    height:1px;
    background-color: #979797;
    width : 120px;
    margin : 20px auto;
}

div.enfant1 .separateur {background-color: rgba(98, 98, 243, 0.3);}

div.enfant2 .separateur {background-color: rgba(103, 243, 98, 0.3);}

div.enfant3 .separateur {background-color: rgba(243, 115, 98, 0.3);}

div.enfant4 .separateur {background-color: rgba(243, 174, 62, 0.3);}

.enfant:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border: 6px solid;
	transition : 0.3s;
}

.enfant1:hover{border-color: rgb(98, 98, 243);}  

.enfant2:hover{border-color: rgb(34, 247, 44);} 

.enfant3:hover{border-color: rgb(247, 62, 62);}

.enfant4:hover{border-color: rgb(243, 174, 62);}


/* ÉTIQUETTE SUR FOND NOIR */
div.etiquette {
    white-space: nowrap;
    text-align: center;
    position : absolute;
    top : -25px;
    left : 50%;
    transform: translate(-50%, 0%); /* décalage de 50% de sa propre taille */
    margin-top : -28px;
}

p.domaine {
    display: inline-block;
    color:white;
    box-shadow: 0px 0px 7px 1px #030E0F80;
    padding : 6px 10px 6px 10px;
    border-radius: 5px;
    font-size: 1.7em;
    font-weight: bold;
}

.domaine1 {background-color: rgb(98, 98, 243);}

.domaine2 {background-color: rgb(34, 247, 44);}

.domaine3 {background-color: rgb(247, 62, 62);}

.domaine4 {background-color: rgb(243, 174, 62);}

/* LES VIDÉOS YOUTUBE */
.video {
    margin :20px 0px 20px 20px;
}

div.titre {
    text-transform : uppercase;
    font-weight: bold;
	text-align : center;
    margin-bottom: 20px;
}

/* TABLE DE CONTENU D'UNE SÉANCE */
table p.numero {
    background-color: lightgrey;
    box-sizing: border-box;
    border-radius: 50%;
    display:inline-block;
    padding-top:4px;
    color:white;
    font-weight: bold;
    width:25px; height:25px;
    margin : 0 0 0 10px;
    text-align: center;
}

.description1 p.numero {background-color: rgb(98, 98, 243);}

.description2 p.numero {background-color: rgb(34, 247, 44);}

.description3 p.numero {background-color: rgb(247, 62, 62);}

.description4 p.numero {background-color: rgb(250, 183, 0);}

table td:first-child {
    vertical-align: top;
}

.description td:nth-child(2) {
    color:gray;
    text-align: left;
    padding-left:10px;
}

.description tr:nth-child(3) td{
    font-style: italic;
    font-weight: bold;
}

.description {
    border-radius : 10px;
    margin-left : 20px;
}

.description1 {background-color: rgba(98, 98, 243, 0.2);}

.description2 {background-color: rgba(103, 243, 98, 0.2);}

.description3 {background-color: rgba(243, 115, 98, 0.2);}

.description4 {background-color: rgba(250, 183, 0, 0.2);}

/* SECTION MÉTHODOLOGIE (FIN) */

 .grise2 {
    background: url(triangle1white.svg) no-repeat center  top/100%;
    background-color: var(--couleur2);
    height : 300px;
}

section.grise2 div.separateur {
    height:1px;
    background-color: #979797;
    width : 150px;
    margin : 20px auto;
}

section.grise2 .fin {
    width : 60%;
    margin : 10px auto;
    text-align: center;
    padding-top : 100px;
}

section.grise2 .fin p {
    font-size : 22px;
    text-align: justify;
    margin-top : 15px;
    margin-left : auto;
    margin-right: auto;
    line-height: 1.8;
}

/* RESPONSIVE DESIGN */
@media only screen and (min-width: 502px)and (max-width: 767px) {
    /* HEADER */
    header {
        height : 350px;
    }
    
    header h1 {
        font-size : 2.5em; 
        padding : 30px 10px 0px 10px;
    }
    
    header div.separateur {
        height:2px;
        width : 80%
    }
    
    header h2 {
        font-size: 1.9em;
        margin-left : 20px;
        margin-right: 10px;
        padding : 0px 10px 30px 10px;
    }

    nav li {font-size: 1em;}

    nav ul {margin : 0 5px; padding : 8px 0;}

    div.bandeau {
        width: 40%;
        padding : 10px 10px auto auto;
        /* margin-right: 40px; */
        min-width: 176px;
        /* padding : 0 0; */
        background-color: BLACK;
        border : 2px solid white;
        transform-origin: 0 0;
        transform: none;
    }

    i.fa-arrow-alt-circle-right {display: inline;}
    i.fa-flask {display: none;}

    /* SECTION GRISE 1 */
    section.grise {
        height : 900px;
    }
    
    section.grise div.separateur {
        height:2px;
    }
    
    section.grise .intro {
        width : 90%;
        padding-top : 30px;
    }
    
    section.grise .intro p {
        font-size : 2.0em;
    }

/* SECTION VIDÉOS */

/* PROJETS (flex items) */
#parent {
	display : flex;
	flex-wrap : wrap;
	justify-content : center;
    z-index :0;
}

.enfant {
	width : 80%;
}

.enfant:first-child {
	margin-top: 60px;
}

div.enfant .separateur {
    height:2px;
    width : 120px;
}

.enfant:hover{
	border: 10px solid;
}

.enfant1:hover{border-color: rgb(98, 98, 243);}  

.enfant2:hover{border-color: rgb(34, 247, 44);} 

.enfant3:hover{border-color: rgb(247, 62, 62);}

.enfant4:hover{border-color: rgb(243, 174, 62);}


/* ÉTIQUETTE SUR FOND NOIR */
div.etiquette {
    top : -50px;
}

p.domaine {
    font-size: 2.0em;
}


/* LES VIDÉOS YOUTUBE */
.video {
    margin :30px 0px 20px 20px;
}

.video iframe {
    height: 344px;
}

div.titre {
    font-size : 2.0em;
}


/* TABLE DE CONTENU D'UNE SÉANCE */
table p.numero {
    width:50px; height:50px;
    font-size: 1.5em;
    padding-top: 10px;
    box-sizing: border-box;
}

table td:first-child {
    vertical-align: top;
}

.description td:nth-child(2) {
    color:gray;
    text-align: left;
    padding-left:10px;
    font-size : 1.5em;
    padding-bottom: 20px;
}

.description {
    border-radius : 10px;
    margin-left : 20px;
}

/* SECTION MÉTHODOLOGIE (FIN) */

.grise2 {
    height : 350px;
}

section.grise2 .fin {
    padding : 30px 10px;
    width : 92%;
    margin-top : 10px;
}

section.grise2 .fin p {
    font-size : 2.0em;
    line-height: 1.8;
}


}

@media only screen and (max-width: 501px) {
    /* HEADER */
    header {
        height : 300px;
    }
    
    header h1 {
        font-size : 2.0em; 
        padding : 30px 10px 0px 10px;
    }
    
    header div.separateur {
        height:2px;
        width : 80%
    }
    
    header h2 {
        font-size: 1.9em;
        margin-left : 20px;
        margin-right: 10px;
        padding : 0px 10px 30px 10px;
    }

    nav li {font-size: 1em;}

    nav ul {margin : 0 5px; padding : 8px 0;}

    div.bandeau {
        width: 40%;
        min-width: 176px;
        padding : 10px 10px auto auto;
        /* margin-right: 40px; */
        /* padding : 0 0; */
        background-color: BLACK;
        border : 2px solid white;
        transform-origin: 0 0;
        transform: none;
    }

    i.fa-arrow-alt-circle-right {display: inline;}
    i.fa-flask {display: none;}

    /* SECTION GRISE 1 */
    section.grise {
        height : 750px;
    }
    
    section.grise div.separateur {
        height:2px;
    }
    
    section.grise .intro {
        width : 90%;
        padding-top : 30px;
    }
    
    section.grise .intro p {
        font-size : 1.5em;
    }

/* SECTION VIDÉOS */

/* PROJETS (flex items) */
#parent {
	display : flex;
	flex-wrap : wrap;
	justify-content : center;
    z-index :0;
}

.enfant {
	width : 90%;
}

.enfant:first-child {
	margin-top: 60px;
}

div.enfant .separateur {
    height:2px;
    width : 120px;
}

.enfant:hover{
	border: 10px solid;
}

.enfant1:hover{border-color: rgb(98, 98, 243);}  

.enfant2:hover{border-color: rgb(34, 247, 44);} 

.enfant3:hover{border-color: rgb(247, 62, 62);}

.enfant4:hover{border-color: rgb(243, 174, 62);}


/* ÉTIQUETTE SUR FOND NOIR */
div.etiquette {
    top : -30px;
}

p.domaine {
    font-size: 2.0em;
}


/* LES VIDÉOS YOUTUBE */
.video {
    margin :30px 0px 20px 20px;
}

.video iframe {
    height: 344px;
}

div.titre {
    font-size : 1.5em;
}


/* TABLE DE CONTENU D'UNE SÉANCE */
table p.numero {
    width:50px; height:50px;
    font-size: 1.25em;
    padding-top: 15px;
}

table td:first-child {
    vertical-align: top;
}

.description td:nth-child(2) {
    color:gray;
    text-align: left;
    padding-left:10px;
    font-size : 1.25em;
    padding-bottom: 20px;
}

.description {
    border-radius : 10px;
    margin-left : 20px;
}

/* SECTION MÉTHODOLOGIE (FIN) */

.grise2 {
    height : 380px;
}

section.grise2 .fin {
    padding : 20px 10px;
    width : 92%;
    padding-top : 70px;
    margin-top: 20px;

}

section.grise2 .fin p {
    font-size : 1.5em;
}


}


   